<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CourseProject</display-name>
  <welcome-file-list>
    <welcome-file>timepass.html</welcome-file>
    <welcome-file>timepass.htm</welcome-file>
    <welcome-file>timepass.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.jagruti.operation.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAwas</display-name>
    <servlet-name>AddAwas</servlet-name>
    <servlet-class>com.jagruti.operation.AddAwas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAwas</servlet-name>
    <url-pattern>/AddAwas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDealer</display-name>
    <servlet-name>RegisterDealer</servlet-name>
    <servlet-class>com.jagruti.operation.RegisterDealer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDealer</servlet-name>
    <url-pattern>/RegisterDealer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.jagruti.operation.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDbServlet</display-name>
    <servlet-name>FileUploadDbServlet</servlet-name>
    <servlet-class>com.jagruti.operation.FileUploadDbServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDbServlet</servlet-name>
    <url-pattern>/FileUploadDbServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerLogin</display-name>
    <servlet-name>DealerLogin</servlet-name>
    <servlet-class>com.jagruti.operation.DealerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerLogin</servlet-name>
    <url-pattern>/DealerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.jagruti.operation.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBill</display-name>
    <servlet-name>AddBill</servlet-name>
    <servlet-class>com.jagruti.operation.AddBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBill</servlet-name>
    <url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMaterial</display-name>
    <servlet-name>AddMaterial</servlet-name>
    <servlet-class>com.jagruti.operation.AddMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMaterial</servlet-name>
    <url-pattern>/AddMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitPhoto</display-name>
    <servlet-name>SubmitPhoto</servlet-name>
    <servlet-class>com.jagruti.operation.SubmitPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitPhoto</servlet-name>
    <url-pattern>/SubmitPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaint</display-name>
    <servlet-name>AddComplaint</servlet-name>
    <servlet-class>com.jagruti.operation.AddComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaint</servlet-name>
    <url-pattern>/AddComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitBill</display-name>
    <servlet-name>SubmitBill</servlet-name>
    <servlet-class>com.jagruti.operation.SubmitBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitBill</servlet-name>
    <url-pattern>/SubmitBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>com.jagruti.operation.Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
</web-app>